
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div id="profile-cont">
    @Html.ActionLink("Play", "Index", "Play", null, new { @class = "profile-option play" })
   
    <a class="profile-option profile">
        Stats
    </a>
    <a class="profile-option courses">
        Courses
    </a>
</div>

@Styles.Render("~/Content/profile.css")