/* ------------------- BASE STYLES ------------------------ */

/*
    COLOR PALETTE:
    Base Green: #197248
    #8FB996
    Light Green: #A1CCA5
    Black: #111D13
*/

html, body {
    min-height: 100%;
    letter-spacing: 1px;
}

body { 
  background-image: url(../Content/images/main-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p, a, h1, h2, h3, h4, h5, h6, span {
   font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.4;
}

.body-content {
    padding-top: 70px;
}

button {
    padding: 0.5em 1em;
    color: #A1CCA5;
    border-radius: 5px;
}

.navbar {
    background-color: #197248;
    color: #fff;
}

.navbar .navbar-nav li > a,
.navbar-header .navbar-brand {
    color: #fff;
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 0.75em;
    border-radius: 0 0 5px 5px;
}

h4 {
    background-color: #197248;
    padding: 1em;
    margin: 0;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.btn, .btn-lg {
    width: 100%;
    color: #fff;
    background-color: #197248;
}

.form-control {
    margin-bottom: 1em;
}

.error-msg {
    color: red;
    text-align: center;
    font-style: italic;
}
