
@{
    ViewBag.Title = "Index";
}


<div id="form-cont">
    <h2>Select a Course</h2>
    @using (Html.BeginForm("SelectCourse", "Play", FormMethod.Post, new {id = "course-select-form"}))
    {
        
    }
</div>

